<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- In Flask müssen css Dateien in dem Ordner static sein. Hier wird dann die Referenz gelegt -->
</head>
<body>
    <main>
        <section id="content header">
            <h1>Typography Visualiser</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            </p>
            <label for="searchbar"></label>
            <input type="text" id="searchbar">
        </section>
        <section id="content images">

        </section>
    </main>
</body>
</html>