<!Doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  <!-- &lt;!&ndash; In Flask müssen css Dateien in dem Ordner static sein. Hier wird dann die Referenz gelegt &ndash;&gt; -->
</head>
<body>
    <main>
        <section id="content header">
            <h1>Typography Visualiser</h1>
            <p id="log">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            </p>
            <form method="post", id="form">
                <label for="searchbar">Suchbegriff: </label>
                <input type="text" id="searchbar" />
                <br />
                <label for="imageAmount">Anzahl an Bildern: </label>
                <input type="number" id="imageAmount" />
                <input type="submit" value="Suchen" />
{#                <input type="color" id="colorPicker" />#}
            </form>
        </section>



        <section id="content images">
            <img src="" id="img1" width="100" height="100" />
        </section>
    </main>

<!--    jQuery und ajax zum Abfangen des Absendens der Form-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $('#form').on('submit', function(e){
            let keyword = $('#searchbar').val();                                    // Inhalt des Eingabefelds zwischenspeichern
            let amount = $('#imageAmount').val();
            let urlPrefix = 'http://127.0.0.1:5000';
            {#let color = $('#colorPicker').val();#}
            e.preventDefault();                                                     // Leere Felder nicht zulassen
            $.ajax({
                url: urlPrefix.concat("/DownloadImages"),                           // Ziel festlegen (in main.py als app.route gesetzt)
                data: {'keyword': keyword, 'amount': amount},                       // Nutzereingabe einpacken
                method: 'POST',
                success: function () {
                    window.location.href = urlPrefix.concat("/Settings");
                }
            });

        });
    </script>
</body>
</html>