<!DOCTYPE html>
<html lang="de">
<head>
    <title>Konfiguration</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/step2.js') }}" defer></script>

    <!-- Color Picker -->
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2@2.0.0/dist/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2@2.0.0/dist/spectrum.min.css">

    <!-- Einbingung von Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/step2.css')}}">
</head>
<body>
<main>
    <div id="content header">
        <div class="stepper">
            <div class="step-one">
                <div class="step-content">
                    <img src="../static/icons/circle_1_inactive.svg" alt="Kreis mit einer eins">
                    <p class="inactive-circle-description">Bild aussuchen</p>
                </div>
            </div>
            <hr/>
            <div class="step-two">
                <div class="step-content">
                    <img src="../static/icons/circle_2_active.svg" alt="Kreis mit einer zwei">
                    <p class="active-circle-description">Schriftart und Farbe wählen</p>
                </div>
            </div>
            <hr/>
            <div class="step-three">
                <div class="step-content">
                    <img src="../static/icons/circle_3_inactive.svg" alt="Kreis mit einer drei">
                    <p class="inactive-circle-description">Endergebnis herunterladen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form">
        <p id="log" class="page-description">Hier können Sie einen Modus und eine Schriftfarbe auswählen.
        </p>
        <div class="row">
            <form method="post" id="form">
                <div class="col-md-4">
                    <label>Modusauswahl:</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="fill" value="option1"
                                       checked>
                                <label class="form-check-label" for="fill">Ausfüllen</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Radios" id="outline" value="option2">
                                <label class="form-check-label" for="outline">Umranden</label>
                            </div>

                        <br>
                        <div>
                            <label for="outline">Filtereinstellungen:</label>

                                    <div class="label-input">
                                        <label for="outline">Obergrenze</label>

                                        <input class="form-control" type="text" id="rangevalue_high"
                                               onchange="thresh_high.value=value"/>
                                        <input type="range"
                                               id="thresh_high"
                                               min="100"
                                               max="400"
                                               oninput="rangevalue_high.value=value"
                                               onchange="render()">
                                    </div>
                                    <div class="label-input">
                                        <label for="outline">Untergrenze</label>
                                        <input class="form-control"
                                               type="text"
                                               id="rangevalue_low"
                                               onchange="thresh_low.value=value"/>
                                        <input type="range"
                                               id="thresh_low"
                                               min="10"
                                               max="200"
                                               oninput="rangevalue_low.value=value"
                                               onchange="render()">
                                    </div>
                        </div>
                        <br>

                        <div class="color-pick">
                            <label for="color-picker">Farbauswahl:</label>
                                <form>
                                    <input id="color-picker" value='#276cb8'/>
                                </form>
                        </div>

                </div>
                    <div class="col-md-4">
                        <section id="image">

                        </section>
                    </div>

            </form>


        </div>
        <button class="btn btn-primary next-button" id="redirect-step-3">Weiter zum nächsten Schritt
        </button>
    </div>
</main>

<footer>
    <div class="footer-content">
        <div class="version">
            <span>Version 1</span>
        </div>
        <div class="description">
            <span>Ein Projekt im Rahmen des Moduls Kommunikationsdesign 2020 der HSD</span>
        </div>
        <div class="participants">
            <span>Jasmin Eßer, Leon Krüger, Niklas Turk und Angela Lisse</span>
        </div>
    </div>
</footer>
</body>
</html>