<!DOCTYPE html>
<html lang="de">
<head>
    <title>Home</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/step3.js') }}" defer></script>

    <!-- Einbingung von Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
<main>
    <div id="content header">
        <div class="stepper">
            <div class="step-one">
                <div class="step-content">
                    <img src="../static/icons/circle_1_inactive.svg" alt="Kreis mit einer eins">
                    <p class="inactive-circle-description">Bild aussuchen</p>
                </div>
            </div>
            <hr/>
            <div class="step-two">
                <div class="step-content">
                    <img src="../static/icons/circle_2_inactive.svg" alt="Kreis mit einer zwei">
                    <p class="inactive-circle-description">Schriftart und Farbe wählen</p>
                </div>
            </div>
            <hr/>
            <div class="step-three">
                <div class="step-content">
                    <img src="../static/icons/circle_3_active.svg" alt="Kreis mit einer drei">
                    <p class="active-circle-description">Endergebnis herunterladen</p>
                </div>
            </div>
        </div>
        <div class="form">

            <p id="logstep3" class="page-description">Glückwunsch!
                Ein Meisterwerk!
            </p>
            <form method="post" id="form">
                <div class="row">
                    <div class="col-md-4">
                        <section id="image">
                            <p>Bild</p>

                        </section>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-primary next-button" id="redirect-step-1">Nächstes Kunstwerk</button>
    </div>
</main>
<footer>
     <div class="row">
        <div class="col-md-4">
            <span class="version">Version 1</span>
        </div>
        <div class="col-md-5">
            <br>
            <span>Ein Projekt im Rahmen des Moduls Kommunikationsdesign 2020 der HSD</span>
        </div>
         <div class="col-md-3">
             <br>
            <span>Jasmin Eßer, Leon Krüger, Niklas Turk und Angela Lisse</span>
        </div>
     </div>
</footer>
</body>
</html>