@import url(style.css);

/* From */
.search-bar {
    width: 100%;
}
label {
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.label-input {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.search-button {
    height: 100%;
    margin-top: 1%;
}

/* Images */
#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-container {
    width: 500vh;
}
.image-container > img {
    min-height: 20%;
    min-width: 20%;
}
.checkbox-for-images {

}


