@import url(style.css);

/* From */
.search-bar {
    width: 100%;
}
label {
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.label-input {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.search-button {
    height: 100%;
    margin-top: 1%;
}

/* Images */

/*container um die cards*/
#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*card*/
.image-container {
    position: relative;
    /*background: rgba(0,0,0,0.61);*/
}
.image-container > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
/*einzelne images*/
.search-result-images {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
}
.image-container:hover .search-result-images{
    opacity: 0.7;
}
.image-container::after, .image-container::before {
    content:'';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}
.image-container::before {
    transform: scale(0,1);
    transition: transform ease-out 250ms;
    border-top: 1px solid #5AF233;
    border-bottom: 1px solid #5AF233;
}
.image-container::after {
    transform: scale(1,0);
    transition: transform ease-out 250ms;
    border-left: 1px solid #5AF233;
    border-right: 1px solid #5AF233;
}
.image-container:hover::after {
    transform: scale(1,1);
}
.image-container:hover::before {
    transform: scale(1,1);
}
.done-icon {
    width: 60%;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 60%;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: opacity ease-out 250ms;
}

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}
